//- button or button-styled link

    options.text - button's text
    options.href - link's href attribute
    options.class - button type (required) and additional classes (optional)

    button types (also the classnames you should use):
        btn_primary - gradient-colored button-styled link 
        btn_ghost - empty button-styled link with a gradient-colored text and border
        btn_text - button without borders, can be modified (btn-text__primary, btn-text__secondary) 
        btn_submit - wide (stretches to the parent's width) filled true button with an icon

    example:
        +btn({ text: 'click me', href: 'changeme.com', class: 'btn_primary' })
        +btn({ text: 'click me', href: 'changeme.com', class: 'btn_ghost' })
        +btn({ text: 'click me', href: 'changeme.com', class: 'btn_text btn_text-primary'})
        +btn({ text: 'click me', href: 'changeme.com', class: 'btn_text btn_text-secondary'})
        +btn({ text: 'click me', href: 'changeme.com', class: 'btn_submit'})

mixin btn(options = {})
    
    //- btn_text should be a true button, not a link
    if options.class.includes('btn_text')
        button(
            class= 'btn ' + options.class,
            href= options.href,
            id= options.id
        )= options.text
    
    //- btn_submit stretches as a block and comes with an icon
    else if options.class.includes('btn_submit')
        button(
            class= 'btn btn_primary btn_submit ',
            href= options.href,
            id= options.id
        )
            span= options.text
            span.material-icons.btn__icon= options.iconName || 'arrow_forward'
    
    //- btn_ghost and btn_primary
    else 
        a(
            class= 'btn ' + options.class,
            href= options.href,
            id= options.id
        )= options.text