//- navigation menu
    menu_link is a default class that applies general styles, 
    ${className}__link allows to mix in some block-specific styles (i.e. header-nav__link)

    items is an array of {title:str, href:str, active:bool} objects 
mixin menu(items, className='')
    ul(class=`menu ${className}`)
        each item in items
            - var itemClass = `menu__link ${className}__link`
            if item.active
                - itemClass+= ` menu__link_active ${className}__link_active`
            
            li: a(href=item.href class=itemClass )= item.title


//- font-awesome icon-stylized links. used in both footers
mixin contact-links(className='')
    a(href='#' class=`${className} fab fa-twitter`)
    a(href='#' class=`${className} fab fa-facebook-square`)
    a(href='#' class=`${className} fab fa-instagram`)


//- FORM ELEMENTS


//- text field
    
    av. attributes: name, placeholder, value, class
    see more: https://pugjs.org/language/mixins.html#mixin-attributes

    usage: +text-field('Subscribe')(name="email", class="field_subscription")
mixin text-field(label)
    label.field-label
        h3 #{label}
        input(
            class="field"
            type="text"
            id=`${attributes.name}-field`
        )&attributes(attributes)

//- subscribe form
    text field with an arrow-stylised submit button

    usage: +subscribe-form('subscription label')(method="get" action="#")
mixin subscribe-form(label)
    form&attributes(attributes).subscribe
        +text-field(label)(name='email' placeholder='Email')
        button(type="submit" class="material-icons subscribe__arrow-btn") arrow_forward


//- button-stylized link
mixin link-btn(title, href, className='')
    if className.includes('btn_ghost')
        .btn-ghost-wrap
            a(href=href, class=`btn ${className}`)= title
    else
        a(href=href, class=`btn ${className}`)= title

//- checkbox
    becomes checkbox_rich if optional block of content provided

    usage: 
        +checkbox('Можно курить')(name='isSmokingAllowed' id='smoking-field')
        +checkbox('Широкий коридор')(name='wideCorridor' id='corridor-field' checked)
            | Ширина коридоров в номере не менее 91 см.
mixin checkbox(label)
    label.checkbox-container

        input.checkbox(type="checkbox")&attributes(attributes)
        div.checkbox-custom

        .checkbox-label-wrap
            span(class=`checkbox-label ${block ? 'checkbox-label_rich' : ''}`)
                | #{label}
            if block
                p.checkbox-info: block
