//- quantity dropdown
    dropdown with counters, powered with item-quntity-dropdown plugin

    usage: 
        - 
            // defaults: minCount: 0, maxCount: 9, defaultCount === minCount || 0
            var items = [
                { title: 'взрослые', dataID:'adults', defaultCount: 2 },
                { title: 'дети',     dataID:'children', minCount: 1 },
                { title: 'младенцы', dataID:'infant', maxCount: 1}
            ]
    
        +quantity-dropdown(items)(class='guests || rooms')
mixin quantity-dropdown(items)
    .iqdropdown.field&attributes(attributes)
        p.iqdropdown-selection
        
        .iqdropdown-menu
            each item, i in items
                .iqdropdown-menu-option(
                    data-id= item.dataID
                    data-mincount= item.minCount || 0
                    data-maxcount= item.maxCount || 9
                    data-defaultcount= item.defaultCount || item.minCount || 0
                )
                    div
                        p.iqdropdown-item= item.title
                    
            button.iqdropdown-menu-close Cerrar