//- quantity dropdown
    dropdown with counters, powered with an item-quntity-dropdown plugin

    // defaults for items: minCount: 0, maxCount: 9, defaultCount = minCount || 0
    
    example: 
        +quantity-dropdown({
            label: 'Гости',
            attributes: {
                id='guests-quantity',
            }
            items: [
                { title: 'взрослые', dataID:'adults', defaultCount: 2 },
                { title: 'дети',     dataID:'children', minCount: 1 },
                { title: 'младенцы', dataID:'infant', maxCount: 1}
            ]
        )}
mixin quantity-dropdown(options)
    label
        if options.label
            h3(class='field-label')=options.label

        .iqdropdown.field&attributes(options.attributes)
            p.iqdropdown-selection
            
            .iqdropdown-menu
                each item, i in options.items
                    .iqdropdown-menu-option(
                        data-id= item.dataID
                        data-mincount= item.minCount || 0
                        data-maxcount= item.maxCount || 9
                        data-defaultcount= item.defaultCount || item.minCount || 0
                    )
                        div
                            p.iqdropdown-item= item.title
                
                .iqdropdown-menu-buttons
                    button(class="button-clear") очистить
                    button(class="button-apply") применить
